/** Reset stylesheet (YUI) */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}

/* Actual Styling */

/** BODY AND STRUCTURE **/

body {
	background-color: #101500;
	font-family: Warnock Pro;
	font-size: 16px;
	height: 100%;
}

#wrapper{
	width: 860px;
	margin: auto;
	min-height: 100%;
}

#header {
	padding: 10px 20px;
	color: #F79300;
	font-weight: 800;
	overflow: auto;
}

#headingdiv {
	float: left;
	clear: both;
}

#navdiv {
	clear: both;
}

#nav-left {
	float: left;
}

#nav-right {
	float: right;
}

#header ul {
}

#header li {
	display: inline;
	padding-right: 20px;
	font-size: 18px;
}

#content {
	padding: 10px 40px 20px 40px;
	background-color: #fff;
}

/** HEADERS **/

h1 {
	font-size: 36px;
	color: #E3DFB2;
}

h2 {
	font-size: 24px;
	font-variant: small-caps;
	color: #fff;
}

h3 {
	font-size: 26px;
	font-style: italic;
	padding: 20px 0px 5px 0px;
	color: #853D03;
}

h4 {
	font-size: 20px;
	font-style: italic;
	padding: 10px 0px;
	color: #416704;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 18px;
}

#header a {
	color: #BAE2E4;
	text-decoration: none;
	font-weight: 500;
	text-transform: lowercase;
	font-variant: small-caps;
}

a {
	color: #316D77;
	text-decoration: none;
}

#header a:hover, a:hover{
	color: #F79300;
}

strong {
	font-weight: 700;
}

ul.blurb, ul.ingredients {
	padding: 0px 10px;
}


ol { 
	list-style-type: decimal;
	padding-left: 20px;
} 

hr.recipe_separator {

	display: block;
	position: relative;
	padding: 0;
	margin: 20px 0px auto;
	width: 100%;
	clear: both;
	border: none;
	border-top: 1px solid #AAA;
	border-bottom: 1px solid #FFF;
	font-size: 1px;
	line-height: 0;
	overflow: visible;

}
p {
	padding: 5px 0px 0px 0px;
}

p.spaced {
	padding: 10px 0px;
}

p.byline {
	padding-bottom: 15px;
	font-size: 12px;
	padding-top: 0px;
}

#recipe_form th, tr{
	font-size: 12px;
	padding: 15px;
}

#recipe_form th {
	width: 150px;
}

label{
	font-weight: bold;
	text-align: right;
	font-size: 16px;
}

input[type="text"]{ /*width of text boxes. IE6 does not understand this attribute*/
	height: 25px;
}

input#id_name {
	width: 350px;
}

textarea#id_directions{
	width: 350px;
	height: 200px;
}

textarea#id_source{
	width: 350px;
	height: 50px;
}

#recipeingredient_forms {
	overflow: auto;
}

.recipeingredient_form  {
	width: 220px;
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border: 3px double #416704;
}

.recipeingredient_form p {
	padding-right: 10px;
	line-height: 40px;
}

.recipeingredient_form input {
	height: 20px;
	width: 100px;
}

.recipeingredient_form label {
	font-size: 12px;
	font-weight: 400;
}

em {
	font-style: italic;
}

ul.errorlist {
	color: #fa0000;
	font-size: 12px;
}