$headerfont: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
$smallheadfont: Helvetica, Arial, sans-serif;
$textfont: Georgia, serif;
$textcolor:#222;
$primaryaccent: #890000;
$secondaryaccent: #263366;
$background: #F4EAD8;
$contentbackground: #FFFFFF;
$contentwidth: 960px;

@import "http://fonts.googleapis.com/css?family=Josefin+Sans:100,regular,bold",
		"token-input.scss",
		"compass/reset",
		"compass/css3/border-radius",
		"compass/css3/box-shadow",
		"compass/css3/images",
		"base",
		"pages/front",
		"pages/recipe_list",
		"pages/recipe_individual",
		"pages/add_recipe";

@mixin simple-v-gradient($topcolor, $bottomcolor){
	@include background(linear-gradient(top, $topcolor, $bottomcolor));
}

@mixin simple-v-gradient-fixed($topcolor, $bottomcolor){
	background: $bottomcolor -webkit-gradient(linear, left top, left bottom, from($topcolor), to($bottomcolor)) left top no-repeat fixed;
	background: $bottomcolor -moz-linear-gradient($topcolor, $bottomcolor) left top no-repeat fixed;
}

@mixin upweighted-gradient($topcolor, $middlecolor, $bottomcolor){
	@include background(linear-gradient(top, $topcolor 0%, $middlecolor 25%, $bottomcolor 100%));
}

q{
	font-style: italic;
	&::before{
		content: "“";
	}
	&::after{
		content: "”";
	}
}
.clear{display:block;clear:both;}
.empty{height:0;overflow:hidden;}
a{
	text-decoration:none;
	color:$secondaryaccent;
	&:visited{
		@extends a;
	}
	&:hover{
		text-decoration:underline;
		color:darken($secondaryaccent, 10%);
	}
}

html{
	@include simple-v-gradient-fixed($background, desaturate(darken($background, 20%), 20%));
	height:100%;
}

body{
	padding-top:1px;
	margin-top:-1px;
	padding-bottom:1px;
	margin-bottom:-1px;
	background:transparent image-url('bg.png') top right repeat fixed;
	font-family:$textfont;
	font-size:15px;
	line-height:20px;
	min-height:100%;
	color:$textcolor;
}

.left-50{
	width:49%;
	float:left;
}
.right-50{
	width:49%;
	float:right;
}


.left-67{
	width:66%;
	float:left;
}
.right-33{
	width:32%;
	float:right;
}


#container{
	margin: 40px 0 40px 180px;
	
	& > header > h1{
		@include border-radius(20px 0 0 0);
		@include box-shadow(rgba(0,0,0, .25) 0 1px 3px);
		background:$primaryaccent;
		color:#FFF;
		padding:5px 30px 0 30px;
		font:{
			family:$headerfont;
			weight:200;
			size:30px;
		}
		text-transform:uppercase;
		letter-spacing:3px;
		line-height:60px;
	}
	
	& > nav#sideNav {
		position:absolute;
		top:205px;
		left:0;
		width:180px;
		padding:20px 0;
		a {
			display:block;
			padding:5px 20px;
			color:desaturate(darken($background,60%), 20%);
			text-align:right;
			&:hover{
				background:rgba(0,0,0,.1);
				color:desaturate(darken($background,80%), 20%);
				text-decoration:none;
			}
			&:active{
				background:rgba(0,0,0,.2);
			}
		}
	}
	
	& > nav#userActions {
		position:absolute;
		top:52px;
		right:30px;
		li{
			float:left;
			margin:5px 0;
			a{
				display:block;
				color:lighten($primaryaccent, 60%);
				text-shadow:-1px -1px 0 darken($primaryaccent, 5%);
				padding:5px;
				font-size:13px;
				letter-spacing:1px;
			}
			&:first-child
			{
				a{
					float:left;
				}
				&::after{
					font-size:11px;
					text-transform:uppercase;
					letter-spacing:2px;
					float:left;
					padding:5px 3px;
					content:"or";
					color:desaturate(lighten($primaryaccent, 40%), 30%);
				}
			}
			&:nth-child(2){
				margin:4px;
				border:1px solid lighten($primaryaccent, 5%);
				@include border-radius(5px);
				text-align:center;
				a{
					border:1px solid darken($primaryaccent, 5%);
					padding:4px 10px;
					@include border-radius(4px);
					@include upweighted-gradient(lighten($primaryaccent, 10%),lighten($primaryaccent, 4%),darken($primaryaccent, 3%));
					&:hover{
						text-decoration:none;
						@include simple-v-gradient(lighten($primaryaccent, 10%), darken($primaryaccent,5%));
					}
					&:active{
						@include upweighted-gradient(darken($primaryaccent, 5%),darken($primaryaccent, 2%),darken($primaryaccent, 2%));
					}
				}
			}
		}
	}
	
	& > #main{
		background:$contentbackground;
		padding:20px 30px;
		@include border-radius(0 0 0 20px);
		@include box-shadow(rgba(0,0,0,.25) 0 1px 3px);
	}
	
	& > footer{
		text-align:right;
		padding:20px;
		color:desaturate(darken($background, 35%), 60%);
		font-size:12px;
	}
	
}

.page_title{
	text-transform:uppercase;
	font-size:20px;
	font-family:$headerfont;
	line-height:50px;
	margin:{
		top:-20px;
		left:-30px;
		right:-30px;
		bottom:20px;
	};
	padding:{
		left:30px;
		right:30px;
		top:55px;
		bottom:0;
	};
	color:#FFF;
	font-weight:normal;
	letter-spacing:2px;
	background:darken($primaryaccent, 10%);
}