<!doctype html>
<!--[if lt IE 7 ]> <html class="bendakai no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>		 <html class="bendakai no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>		 <html class="bendakai no-js ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="bendakai no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>
		{% block title %}
			{% block page_title %}{% endblock %} | 
			{% block site_title %}Bendakai{% endblock %}
		{% endblock %}
	</title>
	
	<meta name="description" content="">
	<meta name="author" content="">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="shortcut icon" href="{{ STATIC_URL }}bendakai/favicon.ico">
	<link rel="apple-touch-icon" href="{{ STATIC_URL }}bendakai/apple-touch-icon.png">

	{% block css %}
	<link rel="stylesheet" href="{{ STATIC_URL }}bendakai/css/style.css?v=2">
	{% endblock %}
	
	{% block extra_css %}{% endblock %}
	
	{% block javascript %}
	<script type="text/javascript" src="{{ STATIC_URL }}bendakai/js/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bendakai/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bendakai/js/jquery.raty.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bendakai/js/jquery.autocomplete.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}bendakai/js/jquery.tokeninput.js"></script>
	{% endblock %}

	{% block extra_javascript %}{% endblock %}
	
	{% block extrahead %}
	{% endblock %}
	
	{% block extraog %}
	<meta property="og:title" content="Bendakai" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://bendakai.com/" />
	{% endblock %}
	
</head>

<body class="{% block bodyclasses %}generic{% endblock %}">

	<div id="container">
		<header>
			<h1>Bendakai</h1>
		</header>
		
		{% include "recipes/modules/user_actions.html" %}
		{% include "recipes/modules/side_nav.html" %}
		
		<div id="main" role="main">
			{% block content %}
			{% endblock %}
			<i class="clear empty">&nbsp;</i>
		</div>
		<footer>
			A Kriti Godey project. Design by Harris Lapiroff. All rights reserved.
		</footer>
	</div> 

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.js"></script>
	<script>window.jQuery || document.write('<script src="js/libs/jquery-1.5.1.min.js">\x3C/script>')</script>

	<!--[if lt IE 7 ]>
		<script src="js/libs/dd_belatedpng.js"></script>
		<script>DD_belatedPNG.fix('img, .png_bg'); // Fix any <img> or .png_bg bg-images. Also, please read goo.gl/mZiyb </script>
	<![endif]-->


	<script>
		var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
		(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
		g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		s.parentNode.insertBefore(g,s)}(document,'script'));
	</script>

</body>
</html>