{% load recipes %}
{% load markup %}
{% load tagging_tags %}
{% load staticmedia %}

<article class="recipe">
	{% if r.average_rating or user.is_authenticated %}
	<section class="recipeActions">	
		{% if r.average_rating %}
		<span class="byline">Average rating: </span><div class="recipe_rating" id="recipe_rating_{{ r.id }}"></div>
		<script type="text/javascript" charset="utf-8">
			$('#recipe_rating_{{ r.id }}').raty({
				path: "{% mediaurl 'recipes/raty_img/' %}",
				readOnly: true,
				half: true,
				start: {{ r.average_rating }},
			});
		</script>
		{% endif %}
		{% if user.is_authenticated %}
		<span class="byline" id="user_recipe_rating_{{ r.id }}_label">Your rating: </span><div class="recipe_rating" id="user_recipe_rating_{{ r.id }}"></div>
		<script type="text/javascript" charset="utf-8">
			$.ajax({
				url: "{% url get_user_recipe_rating recipe_id=r.id %}",
				success: function(data){
					$('#user_recipe_rating_{{ r.id }}').raty({
						path: "{% mediaurl 'recipes/raty_img/' %}",
						half: true,
						start: data,
						showCancel: true,
						click: function(score){
							$.ajax({
								url: "{% url save_user_recipe_rating recipe_id=r.id %}",
								data: {'score': score,},
								type: "POST",
								error: function(){
									alert("Error! Couldn't save rating.");
								},
							});
						},
					});
				},
				error: function(){
					$("#user_recipe_rating_{{ r.id }}_label").remove();
					$("#user_recipe_rating_{{ r.id }}").remove();
				},
			});
		</script>
		{% endif %}
	
		{% if r.user == request.user or request.user.is_superuser %}
				<a href="{% url edit_recipe id=r.id %}">(edit recipe)</a>
		{% endif %}
	</section>
	{% endif %}
	
	<aside class="sidebar">
	
		<section class="ingredients">
			<header>
				<h1>Ingredients</h1>
			</header>
			<ul class="ingredientsList">
				{% for i in r.ingredients.all %}
					<li>{% if i.quantity %}{{ i.quantity|html_fraction|safe }} {% endif %} {% if i.max_quantity %} to {{ i.max_quantity|html_fraction|safe }} {% endif %} {% if i.unit %} {{ i.unit }} {% endif %} <a href="{% url recipe_by_ingredient ingredient=i.ingredient.name %}">{{ i.ingredient.name }}</a>{% if i.preparation %}, {{ i.preparation }} {% endif %} {% if i.optional %}<em>(optional)</em>{% endif %}</li>
				{% endfor %}
			</ul>
		</section>
		
		{% if r.tools.all %}
		<section class="tools">
			<header>
				<h1>Tools</h1>
			</header>
			<ul class="toolList">
				{% for t in r.tools.all %}
					<li><a href="{% url recipe_by_tool tool=t.name %}">{{ t.name }}</a></li>
				{% endfor %}
			</ul>
		</section>
		{% endif %}
		
		<section class="tags">
			<header>
				<h1>Tags</h1>
			</header>
			{% tags_for_object r as tag_list %}
			{% if tag_list %}
			<ul class="tags">
				{% for t in tag_list.all %}
				<li class="tags"><a href="{% url recipe_by_tag tag=t.name %}">{{ t.name }}</a></li>
				{% endfor %}
			</ul>	
			{% endif %}
			{% if user.is_authenticated %}
			<div class="addTags">
				<img src="{% mediaurl 'recipes/add.png' %}" alt="Add more tags." id="add_tag_button_{{ r.id }}">
				<!-- Add icon by Deleket (http://www.iconarchive.com/show/sleek-xp-basic-icons-by-deleket/Add-icon.html) -->
				<span id="add_tag_form_{{ r.id }}" class="add_tag_form">
					<form method="POST" action="{% url add_tags_to_recipe id=r.id %}">
						<input type="text" id="input_tags" name="input_tags" />
						<input type="submit" value="Save">
					</form>
				</span>
			</div>
			<script type="text/javascript" charset="utf-8">
				$('#add_tag_button_{{ r.id }}').click(function() {
					if ($('#add_tag_form_{{ r.id }}').css('visibility') == 'collapse') {
						$('#add_tag_form_{{ r.id }}').show();
						$('#add_tag_form_{{ r.id }}').css('visibility','visible');
					}
					else {
						$('#add_tag_form_{{ r.id }}').hide();
						$('#add_tag_form_{{ r.id }}').css('visibility','collapse');
					}
				});
			</script>
			{% endif %}
		</section>
		
		<section class="social">
			<div class="facebook_like">
				<fb:like href="bendakai.com{% url view_recipe id=r.id %}" show_faces="false" width="450" font="arial"></fb:like>
			</div>
		</section>
		
		<p class="byline">
			Added on {{ r.date_added|date:"F j Y" }} by
			{% ifequal r.user request.user %}
				<a href="{% url userpage username=r.user.username %}">you
					{% if not r.is_public %} <strong>(Private)</strong> {% endif %}
				</a>
			{% else %} 
				<a href="{% url userpage username=r.user.username %}">{% firstof r.user.get_full_name r.user.username %}</a>
			{% endifequal %}
		</p>
		
	</aside>
	
	<div class="main">
		<section class="details">
			<ul class="blurb">
				{% if r.servings %}<li><strong>Yields:</strong> {{ r.servings }} servings.</li>{% endif %}
				{% if r.prep_time %}<li><strong>Preparation time:</strong> {{ r.prep_time }} minutes.</li>{% endif %}
				{% if r.cook_time %}<li><strong>Cooking time:</strong> {{ r.cook_time }} minutes.</li>{% endif %}
				{% if r.source %}<li><strong>Source:</strong> {{ r.source }}</li>{% endif %}
				{% if r.notes %}<li><strong>Notes:</strong> {{ r.notes }}</li>{% endif %}
			</ul>
		</section>
		
		<section class="directions">
			<header>
				<h1>Directions</h1>
			</header>
			<div class="textContent">
				{{ r.directions|markdown }}
			</div>
		</section>
	</div>
</article>