<nav id="userActions">
	<ul>
	{% if user.is_authenticated %}
		<li><a href="{% url userpage username=user.username %}">My Recipes</a></li>
		<li><a href="{% url logout %}">Logout</a></li>
	{% else %}
		<li><a href="{% url login %}">Sign Up</a></li>
		<li><a href="{% url login %}">Login <img src="{{ STATIC_URL }}bendakai/graphics/f0101/white/facebook.png" width="16" height="16" /> <img src="{{ STATIC_URL }}bendakai/graphics/f0101/white/twitter.png" width="16" height="16" /></a></li>
	{% endif %}
	</ul>
</nav>