{% extends "recipes/__base.html" %}

{% block page_title %}Add Recipe{% endblock %}

{% block bodyclasses %}addrecipepage{% endblock %}

{% block extra_javascript %}
<script type="text/javascript">
$(document).ready(function() {
	$(".recipeingredient_ingredient_field").autocomplete({
		source: "/ajax/ingredient", delay: 30
	});
	$(".recipeingredient_unit_field").autocomplete({
		source: "/ajax/unit", delay: 30
	});
});
</script>
<script type="text/javascript" src="{{ STATIC_URL }}/bendakai/js/forms.js"></script>
{% endblock %}

{% block content %}
	<header class="page_title">
		<h1>Add a New Recipe</h1>
	</header>
	{% include "recipes/_recipe_form.html" %}
{% endblock %}