{% load staticmedia %}<html>
	<head>
		<link rel="stylesheet" href="{% mediaurl 'recipes/style.css' %}" type="text/css">
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
		<title>{% block title %} {% endblock %}</title>
		{% block extrahead %} 	    
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="headingdiv">
					<h1>Recipe Manager</h1>
				</div>
				<div id="navdiv">
					<ul id="nav">
						<li><a href="/">All Recipes</a></li>
						<li><a href="/correct/">Correct Recipe</a></li>
						<li><a href="/add/">Add Recipe</a></li>
						<li><a href="/accounts/login/">Login</a></li>
					</ul>
				</div>
				{% block header %}
				{% endblock %}
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	<body>
</html>