{% load staticmedia %}<html>
	<head>
<!--		<link class="type-a-file" rel="stylesheet" media="screen" type="text/css" href="{% mediaurl 'recipes/reset.css' %}" />
		<link class="type-a-file" rel="stylesheet" media="screen" type="text/css" href="{% mediaurl 'recipes/taf-seafarer-m.css' %}" /> -->
		<link rel="stylesheet" href="{% mediaurl 'recipes/style.css' %}" type="text/css">
		<script type="text/javascript" src="{% mediaurl 'recipes/jquery.min.js' %}"></script>
		<script type="text/javascript" src="{% mediaurl 'recipes/jquery-ui.min.js' %}"></script>
		<title>{% block title %} {% endblock %}</title>
		{% block extrahead %} 	    
		{% endblock %}
	</head>
	<body>
		<div id="wrapper">
			<div id="header">
				<div id="headingdiv">
					<h1>Recipe Manager</h1>
				</div>
				<div id="navdiv">
					<div id="nav-left">
						{% block header %}
						{% endblock %}
					</div>
					<div id="nav-right">
						<ul id="nav">
							<li><a href="{% url all_recipes %}">All Recipes</a></li>
							<li><a href="{% url add_recipe %}">Add Recipe</a></li>
							{% if user.is_authenticated %}
								<li><a href="{% url userpage username=user.username %}">My Recipes</a></li>
								<li><a href="{% url logout %}">Logout</a></li>
							{% else %}
								<li><a href="{% url login %}">Login</a></li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</div>
	<body>
</html>