{% extends "recipes/base.html" %}
{% load staticmedia %}

{% block title %} Input Recipe {% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
	$(".recipeingredient_ingredient_field").autocomplete({
		source: "/ajax/ingredient", delay: 30
	});
	$(".recipeingredient_unit_field").autocomplete({
		source: "/ajax/unit", delay: 30
	});
});
</script>
<script type="text/javascript" src="{% mediaurl 'recipes/forms.js' %}"></script>
{% endblock %}

{% block header %}
	<h2> Input Recipe </h2>
{% endblock %}

{% block content %}
	<h3>Type In the Following Recipe</h3>
	<p>The following recipe is available only in plaintext. Please type it into the form below in the appropriate boxes.</p>
	<pre>
		{{ junk.text }}
	</pre>
	{% include "recipes/recipe_form.html" %}
{% endblock %}