{% extends "recipes/base.html" %}
{% load staticmedia %}
{% load markup %}

{% block title %} Correct Recipe {% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
	$(".recipeingredient_ingredient_field").autocomplete({
		source: "/ajax/ingredient", delay: 30
	});
	$(".recipeingredient_unit_field").autocomplete({
		source: "/ajax/unit", delay: 30
	});
});
</script>
<script type="text/javascript" src="{% mediaurl 'recipes/forms.js' %}"></script>
{% endblock %}

{% block content %}
	<h2 class="page_title">Correct Recipe</h2>
	<p>The following recipe is available only as shown below. Please copy the recipe over to the form, such that the information in the recipe is sorted into the appropriate boxes. If the ingredients are missing, please try to infer them from the directions. If the recipe is unusable, refresh to get a new one. Thank you!</p>
	<FORM class="newwindow">
	<INPUT type="button" value="Open Recipe in New Window!" onClick="window.open('{% url junk_popout junk_id=junk.id %}','Plaintext Recipe','width=630,height=600,scrollbars=yes,resizable=no,toolbar=no')">
	</FORM>
	<pre>
		{{ junk.text }}
	</pre>
	{% include "recipes/recipe_form.html" %}
{% endblock %}