{% extends "recipes/base.html" %}
{% load staticmedia %}

{% block title %} Correct Recipe {% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
	$(".recipeingredient_ingredient_field").autocomplete({
		source: "/ajax/ingredient", delay: 30
	});
	$(".recipeingredient_unit_field").autocomplete({
		source: "/ajax/unit", delay: 30
	});
});
</script>
<script type="text/javascript" src="{% mediaurl 'recipes/forms.js' %}"></script>
{% endblock %}

{% block header %}
	<h2> Correct Recipe </h2>
{% endblock %}

{% block content %}
	<h3>Correct Recipe</h3>
	<p>The following recipe is available only in plaintext. Please type it into the form in the appropriate boxes. If there are no ingredients provided, please infer them from the recipe. Thank you!</p>
	<table border=0>
		<tr>
			<td width="50%">
				<pre>
					{{ junk.text }}
				</pre>
			</td>
			<td width="50%">
				{% include "recipes/recipe_form.html" %}
			</td>
		</tr>
	</table>
{% endblock %}