{% extends "recipes/base.html" %}
{% load staticmedia %}

{% block title %} Edit Recipe, {{ recipe.name }} on Bendakai {% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
	$(".recipeingredient_ingredient_field").autocomplete({
		source: "/ajax/ingredient"
	});
	$(".recipeingredient_unit_field").autocomplete({
		source: "/ajax/unit"
	});
});
</script>
<script type="text/javascript" src="{% mediaurl 'recipes/forms.js' %}"></script>
{% endblock %}

{% block content %}
<h2 class="page_title">Edit Recipe</h2>
{% include "recipes/recipe_form.html" %}
<script type="text/javascript">
<!--
function show_confirm()
{
var r=confirm("Are you sure you want to delete this recipe?");
if (r !=0)
  {
  location = "{% url delete_recipe id=recipe.id %}"
  }
}
-->
</script>
<p class="byline"><a href="#" onClick='show_confirm(); return false;'>Delete this recipe.</a></p>
{% endblock %}