{% extends "recipes/__base.html" %}

{% block title %}Bendakai{% endblock %}

{% block bodyclasses %}front{% endblock %}

{% block content %}

<div id="mainCol">
	<div id="about">
		<p>Bendakai is Kriti Godey's honours project for her computer science degree. Its goal to be able to answer questions like <q>I've got six potatoes, an onion and milk. What healthy food can I cook with it?</q></p>
	</div>
	<div id="plan">
		<h1>Plan a Meal</h1>
		{# TODO: put a search form of some sort here. #}
	</div>
</div>

<div id="highlights">
	<div id="top" class="recipeList">
		<h1>Top Rated Recipes</h1>
		{# TODO: implement this somehow... #}
	</div>
	<div id="top" class="recipeList">
		<h1>Recently Added Recipes</h1>
		<ol>
			{% for recipe in recent_recipes|slice:":10" %}
			<li><a href="#"><span class="title">{{ recipe.name }}</span> {% if recipe.prep_time %}<time>{{ recipe.prep_time }}m</time>{% endif %}</a></li>
			{% endfor %}
		</ol>
	</div>
</div>

{% endblock %}