{% extends "recipes/__base.html" %}

{% block title %}Bendakai{% endblock %}

{% block bodyclasses %}front{% endblock %}

{% block content %}

<div id="mainCol">
	<div id="about">
		<p>Bendakai is Kriti Godey's honours project for her computer science degree. Its goal to be able to answer questions like <q>I've got six potatoes, an onion and milk. What healthy food can I cook with it?</q></p>
	</div>
	<div id="plan">
		<header>
			<h1>Plan a Meal</h1>
		</header>
		<form method="get" action="{% url simple_search %}">
			<input type="text" id="searchterm" name="searchterm" class="searchterm" {% if term %} value="{{ term }}" {% endif %}/>
			<input type="submit" class="go" value="Go"/>
		</form>
	</div>
</div>

<div id="highlights">
	<!-- div id="top" class="recipeList">
		<h1>Top Rated Recipes</h1>
		{# TODO: implement this somehow... #}
	</div -->
	<div id="top" class="recipeList">
		<h1>Recently Added Recipes</h1>
		<ol>
			{% for recipe in recent_recipes|slice:":10" %}
			<li><a href="#"><span class="title">{{ recipe.name }}</span> {% if recipe.prep_time %}<time>{{ recipe.prep_time }}m</time>{% endif %}</a></li>
			{% endfor %}
		</ol>
	</div>
</div>

<div class="facebook_like">
	<fb:like href="http://bendakai.com" show_faces="false" width="450" font="arial"></fb:like>
</div>

{% endblock %}