{% extends "recipes/base.html" %}

{% block title %} Bendakai: An Introduction {% endblock %}

{% block content %}
<h2 class="page_title">Introduction</h2>
<p><strong>Bendakai</strong> is <a href="http://kritigodey.com">Kriti Godey</a>'s honours project for her computer science degree. Its goal to be able to answer questions like <em>"I've got six potatoes, an onion and milk. What healthy food can I cook with it?"</em> <em>i.e.</em> it aims to provide you with recipes you like based on what you've liked before, nutritional information, and price of ingredients. It will also be a conventional recipe website; you can search for recipes and keep track of your recipe collection.</p>

<h3>That sounds cool! What can I do?</h3>
<p>Well, I need recipes to recommend! I already have a bunch of recipes, but they aren't separated in a way that makes it easy to compute nutritional values and other data from them. You can help me <a href="{% url correct_recipe %}">by correcting a recipe!</a>. There's a recipe and a form, copying one recipe over should take a couple of minutes. This will really help me. You can also <a href="{% url add_recipe %}">add a recipe!</a> and keep track of your recipe collection here! You'll need to log in, but you can use your Facebook, Twitter or OpenID account to do so, so it's relatively painless.</p>

<p>You can also <a href="{% url all_recipes %}">rate the recipes that are here</a>, and <a href="{% url ingredient_list %}">rate ingredients.</a> This just involves clicking a button and is very valuable in finding out what user prefer so I can improve my recipe recommendation.</p>
	
	
<p>Bug reports, complaints, suggestions, tips, advice, feedback, comments, questions etc. are much appreciated. E-mail them to me at <a href="mailto:kriti.godey@gmail.com">kriti.godey@gmail.com</a>.</p>

<h3>What's with the name?</h3>
<p>The name <strong>Bendakai</strong> means "okra" or "ladyfinger" in Telugu, my native language. It's food related, fairly easy to pronounce, and most importantly, the top level domain was available.</p>

<h3>Progress and Plans</h3>
<p>I'm currently working with two different recommendation approaches and randomly generated data. I hope to be able to test with real data soon, which is why I need recipes. I'm trying to update this website as fast as possible.</p>
<div class="facebook_like">
	<fb:like href="http://bendakai.com" show_faces="false" width="450" font="arial"></fb:like>
</div>
{% endblock %}