{% extends "recipes/base.html" %}

{% block title %} Match Ingredients on Bendakai {% endblock %}

{% block content %}
<h2 class="page_title">Match Ingredients</h2>
{% if ingredient %}
<form method="post" action="">
	<p>Ingredient name: {{ ingredient.name }}</p>
	<p><strong>Pick a food that best matches the ingredient above. If there is no match or there are no foods listed below, please refresh the page.</strong></p>
	{% for food in food_list.all %}
	<p><input type="radio" name="food" value="{{ food.id}}" />  {{ food.description }}</p>
	{% endfor %}
	<input type="hidden" name="ingredient" value="{{ ingredient.id }}" id="ingredient" />
	<p class"submitbutton"><input type="submit" value="Submit"/></p>
	{% csrf_token %}
</form>
{% else %}
<p>There are no more ingredients to match. This is a great thing!</p>
{% endif %}

{% endblock %}