{% extends "recipes/__base.html" %}

{% block page_title %}{{ title }}{% endblock %}

{% block bodyclasses %}recipelistpage{% endblock %}

{% block content %}
	<header id="pageTitle">
		<h1>{{ title }}</h1>
	</header>
	{% with recipes.object_list as recipes %}
		{% include "recipes/_recipe_list_inner.html" %}
	{% endwith %}
	<div class="page_nav">
		{% if recipes.has_previous %}
			<a href="?page={{ recipes.previous_page_number }}">&lt;&lt; Previous</a> &nbsp; &nbsp;
		{% endif %}
		
		Page {{ recipes.number }} of {{ recipes.paginator.num_pages }} <em>({{ recipes.paginator.count }} recipes)</em>
		{% if recipes.has_next %}
			&nbsp; &nbsp; <a href="?page={{ recipes.next_page_number }}">Next &gt;&gt;</a>
		{% endif %}
	</div>
{% endblock %}