{% load recipes %}
{% load markup %}
{% load tagging_tags %}
{% load staticmedia %}

<div class="recipe">
	<h3 class="recipe_title"><a class="recipe_title" href="{% url view_recipe id=r.id %}">{{ r.name }}</a></h3>
	<p class="byline">Added on {{ r.date_added|date:"F j Y" }} by {% ifequal r.user request.user %} <a href="{% url userpage username=r.user.username %}">you {% if not r.is_public %} <strong>(Private)</strong> {% endif %}</a>
	{% else %} 
		<a href="{% url userpage username=r.user.username %}">{% firstof r.user.get_full_name r.user.username %}</a>
	{% endifequal %}  {% ifequal r.user request.user %} <a href="{% url edit_recipe id=r.id %}">(edit recipe)</a>
		{% endifequal %}</p>
	
	{% if r.average_rating %}
	<span class="byline">Average rating: </span><div class="recipe_rating" id="recipe_rating_{{ r.id }}"></div>
	<script type="text/javascript" charset="utf-8">
		$('#recipe_rating_{{ r.id }}').raty({
			path: "{% mediaurl 'recipes/raty_img/' %}",
			readOnly: true,
			half: true,
			start: {{ r.average_rating }},
		});
	</script>
	{% endif %}
		
	<ul class="blurb">
		{% if r.servings %}<li><strong>Yields:</strong> {{ r.servings }} servings.</li>{% endif %}
		{% if r.prep_time %}<li><strong>Preparation time:</strong> {{ r.prep_time }} minutes.</li>{% endif %}
		{% if r.cook_time %}<li><strong>Cooking time:</strong> {{ r.cook_time }} minutes.</li>{% endif %}
		{% if r.source %}<li><strong>Source:</strong> {{ r.source }}</li>{% endif %}
		{% if r.notes %}<li><strong>Notes:</strong> {{ r.notes }}</li>{% endif %}
	</ul>
	<h4>Ingredients</h4>
	<ul class="ingredients">
		{% for i in r.ingredients.all %}
			<li>{% if i.quantity %}{{ i.quantity|html_fraction|safe }} {% endif %} {% if i.max_quantity %} to {{ i.max_quantity|html_fraction|safe }} {% endif %} {% if i.unit %} {{ i.unit }} {% endif %} <a href="{% url recipe_by_ingredient ingredient=i.ingredient.name %}">{{ i.ingredient.name }}</a>{% if i.preparation %}, {{ i.preparation }} {% endif %} {% if i.optional %}<em>(optional)</em>{% endif %}</li>
		{% endfor %}
	</ul>
	<h4>Directions</h4>
	{{ r.directions|markdown }}
	{% tags_for_object r as tag_list %}
		<ul class="tags">
			{% if tag_list %}
			<li class="tags"><strong>Tags:</strong></li>
			{% endif %}
			{% for t in tag_list.all %}
			<li class="tags"><a href="{% url recipe_by_tag tag=t.name %}">{{ t.name }}</a></li>
			{% endfor %}
		</ul>
		<div class="facebook_like">
			<fb:like href="bendakai.com{% url view_recipe id=r.id %}" show_faces="false" width="450" font="arial"></fb:like>
		</div>
</div>