{% load recipes %}
{% load markup %}

<div class="recipe">
	<h3 class="recipetitle">{{ r.name }}</h3>
	<p class="byline">Added on {{ r.date_added|date:"F j Y" }} by {% ifequal r.user request.user %} <a href="{% url userpage username=r.user.username %}">you {% if not r.is_public %} <strong>(Private)</strong> {% endif %}</a>
	{% else %} 
		<a href="{% url userpage username=r.user.username %}">{% firstof r.user.get_full_name r.user.username %}</a>
	{% endifequal %}  {% ifequal r.user request.user %} <a href="{% url edit_recipe id=r.id %}">(edit recipe)</a>
		{% endifequal %}</p>
	<ul class="blurb">
		{% if r.servings %}<li><strong>Yields:</strong> {{ r.servings }} servings.</li>{% endif %}
		{% if r.prep_time %}<li><strong>Preparation time:</strong> {{ r.prep_time }} minutes.</li>{% endif %}
		{% if r.cook_time %}<li><strong>Cooking time:</strong> {{ r.cook_time }} minutes.</li>{% endif %}
		{% if r.source %}<li><strong>Source:</strong> {{ r.source }}</li>{% endif %}
	</ul>
	<h4>Ingredients</h4>
	<ul class="ingredients">
		{% for i in r.ingredients.all %}
			<li>{% if i.quantity %}{{ i.quantity|html_fraction|safe }} {% endif %} {% if i.unit %} {{ i.unit }} {% endif %} {{ i.ingredient.name }}{% if i.preparation %}, {{ i.preparation }} {% endif %} {% if i.optional %}<em>(optional)</em>{% endif %}</li>
		{% endfor %}
	</ul>
	<h4>Directions</h4>
	{{ r.directions|markdown }}
</div>