{% extends "recipes/base.html" %}
{% load recipes %}
{% load markup %}

{% block title %} {{ term }}: Search results on Bendakai {% endblock %}

{% block content %}
	<h2 class="page_title">Search results for <em>{{ term }}</em></h2>
	{% for r in recipes.object_list %}
		{% include "recipes/recipe.html" %}
		{% if not forloop.last %}
		<hr class="recipe_separator"/>
		{% endif %}
	{% endfor %}
	<div class="page_nav">{% if recipes.has_previous %}<a href="?page={{ recipes.previous_page_number }}&amp;searchterm={{ term }}">&lt;&lt; Previous</a> &nbsp; &nbsp; {% endif %} Page {{ recipes.number }} of {{ recipes.paginator.num_pages }} <em>({{ recipes.paginator.count }} recipes)</em> {% if recipes.has_next %} &nbsp; &nbsp; <a href="?page={{ recipes.next_page_number }}&amp;searchterm={{ term }}">Next &gt;&gt;</a>  {% endif %}</div>
{% endblock %}