{% extends "recipes/base.html" %}
{% load recipes %}
{% load markup %}

{% block title %} {% ifnotequal request.user recipes.0.user %} {% firstof recipes.0.user.get_full_name recipes.0.user.username %}'s {% else %} My {% endifnotequal %} Recipes {% endblock %}

{% block header %}
	<h2>{% ifnotequal request.user recipes.0.user %} {% firstof recipes.0.user.get_full_name recipes.0.user.username %}'s {% else %} My {% endifnotequal %} Recipes</h2>
{% endblock %}

{% block content %}
{% for r in recipes %}
	{% include "recipes/recipe.html" %}
	{% if not forloop.last %}
	<hr class="recipe_separator"/>
	{% endif %}
{% endfor %}
{% endblock %}