{% extends "recipes/base.html" %}
{% load recipes %}
{% load markup %}

{% block extraog %}
<meta property="og:title" content="{{ recipe.name }}" />
<meta property="og:type" content="food" />
<meta property="og:url" content="http://honours.kritigodey.com{% url view_recipe id=recipe.id %}" />
{% endblock %}

{% block title %} {{ recipe.name }} {% endblock %}

{% block header %}
	<h2>View Recipe</h2>
{% endblock %}

{% block content %}
{% with recipe as r %}
	{% include "recipes/recipe.html" %} 
{% endwith %}
{% endblock %}