@import "http://fonts.googleapis.com/css?family=Josefin+Sans:100,regular,bold";
/* Example tokeninput style #1: Token vertical list*/
/* line 2, ../scss/token-input.scss */
ul.token-input-list {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  width: 400px;
  border: 1px solid #999;
  cursor: text;
  font-size: 12px;
  font-family: "Lucida Grande", sans-serif;
  z-index: 999;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

/* line 17, ../scss/token-input.scss */
ul.token-input-list li {
  list-style-type: none;
}

/* line 21, ../scss/token-input.scss */
ul.token-input-list li input {
  border: 0;
  width: 350px;
  padding: 3px 8px;
  background-color: white;
}

/* line 28, ../scss/token-input.scss */
li.token-input-token {
  overflow: hidden;
  height: auto !important;
  height: 1%;
  margin: 3px;
  padding: 3px 5px;
  background-color: #D0D707;
  color: #000;
  cursor: default;
  display: block;
}

/* line 40, ../scss/token-input.scss */
li.token-input-token p {
  float: left;
  padding: 0;
  margin: 0;
}

/* line 46, ../scss/token-input.scss */
li.token-input-token span {
  float: right;
  color: #777;
  cursor: pointer;
}

/* line 52, ../scss/token-input.scss */
li.token-input-selected-token {
  background-color: #380A17;
  color: #fff;
}

/* line 57, ../scss/token-input.scss */
li.token-input-selected-token span {
  color: #bbb;
}

/* line 61, ../scss/token-input.scss */
div.token-input-dropdown {
  position: absolute;
  width: 400px;
  background-color: #fff;
  overflow: hidden;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  cursor: default;
  font-size: 12px;
  font-family: Warnock Pro;
  z-index: 1;
}

/* line 75, ../scss/token-input.scss */
div.token-input-dropdown p {
  margin: 0;
  padding: 5px;
  color: #777;
}

/* line 81, ../scss/token-input.scss */
div.token-input-dropdown ul {
  margin: 0;
  padding: 0;
}

/* line 86, ../scss/token-input.scss */
div.token-input-dropdown ul li {
  background-color: #fff;
  padding: 3px;
  list-style-type: none;
}

/* line 92, ../scss/token-input.scss */
div.token-input-dropdown ul li.token-input-dropdown-item {
  background-color: #fafafa;
}

/* line 96, ../scss/token-input.scss */
div.token-input-dropdown ul li.token-input-dropdown-item2 {
  background-color: #fff;
}

/* line 100, ../scss/token-input.scss */
div.token-input-dropdown ul li em {
  font-style: normal;
}

/* line 104, ../scss/token-input.scss */
div.token-input-dropdown ul li.token-input-selected-dropdown-item {
  background-color: #d0efa0;
}

/* line 17, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../.gem/ruby/1.8/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 14, ../scss/_base.scss */
#container {
  overflow: hidden;
}

/* line 3, ../scss/pages/_front.scss */
.front #container > header > h1 {
  padding: 100px 30px 10px 30px;
}
/* line 6, ../scss/pages/_front.scss */
.front #container > nav#userActions {
  top: 148px;
}
/* line 10, ../scss/pages/_front.scss */
.front .recipeList {
  padding: 10px 10px 15px 10px;
  background: #ffefef;
  margin: 0 0 20px 0;
  color: #bc0000;
}
/* line 15, ../scss/pages/_front.scss */
.front .recipeList > h1 {
  color: #bc0000;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  margin-bottom: 10px;
}
/* line 24, ../scss/pages/_front.scss */
.front .recipeList time {
  color: #888;
  font-style: italic;
}
/* line 28, ../scss/pages/_front.scss */
.front .recipeList a:hover {
  text-decoration: none;
}
/* line 41, ../scss/pages/_front.scss */
.front #mainCol #about {
  background: #EEE;
  border-bottom: 1px solid #DDD;
  padding: 10px 10px 9px 10px;
  margin-bottom: 20px;
}

/* line 2, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort {
  background: #f4ead8;
  margin-bottom: 20px;
}
/* line 5, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort header {
  background: #890000;
  color: #FFF;
  font-family: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
/* line 18, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort header h1, .recipelistpage .recipeShort header h2 {
  display: inline;
}
/* line 21, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort header h2 {
  color: #ee6767;
  font-family: Georgia, serif;
  text-transform: none;
  font-weight: normal;
  font-style: italic;
  line-height: 0;
}
/* line 29, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort header a {
  color: #FFF;
}
/* line 31, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort header a:hover {
  text-decoration: none;
}
/* line 36, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort .content {
  padding: 10px;
}
/* line 39, ../scss/pages/_recipe_list.scss */
.recipelistpage .recipeShort footer {
  padding: 5px 10px;
  background: #e9d5b0;
  font-size: 80%;
}

/* line 1, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage {
  /* .recipe */
}
/* line 7, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .page_title .recipe_title, .recipeindividualpage .page_title .recipe_rating {
  display: inline;
}
/* line 12, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage #commentswrapper {
  margin-left: 290px;
  border-top: 3px solid #890000;
  padding-top: 37px;
  margin-top: 40px;
}
/* line 14, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage #commentswrapper header {
  font-size: 12px;
  font-family: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #890000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 24, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe {
  position: relative;
  padding-left: 290px;
  padding-top: 10px;
  /* .sidebar */
}
/* line 29, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  text-align: right;
}
/* line 36, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar .ingredients, .recipeindividualpage .recipe .sidebar .tools {
  margin-bottom: 20px;
  font-size: 13px;
  padding: 10px 20px 10px 0;
  border-right: 1px solid #890000;
  margin-right: -21px;
}
/* line 42, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar .ingredients li, .recipeindividualpage .recipe .sidebar .tools li {
  margin-bottom: 5px;
}
/* line 45, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar .ingredients header, .recipeindividualpage .recipe .sidebar .tools header {
  font-size: 12px;
  font-family: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #890000;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 51, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar section.tags {
  background: #ffefef;
  margin: 20px -10px;
  padding: 10px;
  font-size: 12px;
  text-align: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
}
/* line 59, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar section.tags ul, .recipeindividualpage .recipe .sidebar section.tags li, .recipeindividualpage .recipe .sidebar section.tags header, .recipeindividualpage .recipe .sidebar section.tags h1 {
  display: inline;
}
/* line 62, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar section.tags header {
  font-weight: bold;
}
/* line 65, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar section.tags h1::after {
  content: ": ";
}
/* line 68, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar section.tags li::after {
  content: ", ";
}
/* line 71, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar section.tags li:last-child::after {
  content: "";
}
/* line 75, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .sidebar .byline {
  font-size: 12px;
  color: #555555;
}
/* line 80, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .recipeActions {
  background: #EEE;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -o-border-radius: 20px;
  -ms-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 2px inset;
  margin-bottom: 20px;
  padding: 10px 20px;
  margin-top: -10px;
}
/* line 88, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .details {
  float: right;
  padding: 10px;
  background: #EEE;
  margin-left: 20px;
  margin-bottom: 10px;
  color: #6f6f6f;
  font-size: 13px;
  font-style: italic;
}
/* line 97, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .details strong {
  color: #222222;
}
/* line 102, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .main header {
  font-size: 12px;
  font-family: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #890000;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}
/* line 107, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage .recipe .main p {
  margin-bottom: 20px;
}
/* line 112, ../scss/pages/_recipe_individual.scss */
.recipeindividualpage #id_honeypot {
  height: 0;
  width: 0;
  border: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* .recipeindividualpage */
/* line 2, ../scss/pages/_add_recipe.scss */
.addrecipepage .helptext_ri, .addrecipepage .helptext {
  font-family: Helvetica;
  font-size: 12px;
  color: #888888;
}
/* line 7, ../scss/pages/_add_recipe.scss */
.addrecipepage table, .addrecipepage td, .addrecipepage th {
  vertical-align: top;
}
/* line 10, ../scss/pages/_add_recipe.scss */
.addrecipepage table {
  width: 100%;
  margin: -5px;
}
/* line 12, ../scss/pages/_add_recipe.scss */
.addrecipepage table input {
  width: 100%;
}
/* line 17, ../scss/pages/_add_recipe.scss */
.addrecipepage td, .addrecipepage th {
  padding: 5px;
}
/* line 20, ../scss/pages/_add_recipe.scss */
.addrecipepage h4 {
  margin-bottom: 20px;
  padding-top: 17px;
  margin-top: 20px;
  border-top: 3px solid #890000;
}
/* line 26, ../scss/pages/_add_recipe.scss */
.addrecipepage .errorlist {
  color: #900;
  font-weight: bold;
}

/* line 36, ../scss/style.scss */
q {
  font-style: italic;
}
/* line 38, ../scss/style.scss */
q::before {
  content: "“";
}
/* line 41, ../scss/style.scss */
q::after {
  content: "”";
}

/* line 45, ../scss/style.scss */
.clear {
  display: block;
  clear: both;
}

/* line 46, ../scss/style.scss */
.empty {
  height: 0;
  overflow: hidden;
}

/* line 47, ../scss/style.scss */
a {
  text-decoration: none;
  color: #263366;
}
/* line 50, ../scss/style.scss */
a:visited {
@extends a;
}
/* line 53, ../scss/style.scss */
a:hover {
  text-decoration: underline;
  color: #182041;
}

/* line 59, ../scss/style.scss */
html {
  background: #cebb98 -webkit-gradient(linear, left top, left bottom, from(#f4ead8), to(#cebb98)) left top no-repeat fixed;
  background: #cebb98 -moz-linear-gradient(#f4ead8, #cebb98) left top no-repeat fixed;
  height: 100%;
}

/* line 64, ../scss/style.scss */
body {
  padding-top: 1px;
  margin-top: -1px;
  padding-bottom: 1px;
  margin-bottom: -1px;
  background: transparent url('../graphics/bg.png?1304284906') top right repeat fixed;
  font-family: Georgia, serif;
  font-size: 15px;
  line-height: 20px;
  min-height: 100%;
  color: #222222;
}

/* line 77, ../scss/style.scss */
.left-50 {
  width: 49%;
  float: left;
}

/* line 81, ../scss/style.scss */
.right-50 {
  width: 49%;
  float: right;
}

/* line 87, ../scss/style.scss */
.left-67, .front #mainCol {
  width: 66%;
  float: left;
}

/* line 91, ../scss/style.scss */
.right-33, .front #highlights {
  width: 32%;
  float: right;
}

/* line 97, ../scss/style.scss */
#container {
  margin: 40px 0 40px 180px;
}
/* line 100, ../scss/style.scss */
#container > header > h1 {
  -moz-border-radius: 20px 0 0 0;
  -webkit-border-radius: 20px 0 0 0;
  -o-border-radius: 20px 0 0 0;
  -ms-border-radius: 20px 0 0 0;
  -khtml-border-radius: 20px 0 0 0;
  border-radius: 20px 0 0 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  background: #890000;
  color: #FFF;
  padding: 5px 30px 0 30px;
  font-family: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 60px;
}
/* line 116, ../scss/style.scss */
#container > nav#sideNav {
  position: absolute;
  top: 205px;
  left: 0;
  width: 180px;
  padding: 20px 0;
}
/* line 122, ../scss/style.scss */
#container > nav#sideNav a {
  display: block;
  padding: 5px 20px;
  color: #695531;
  text-align: right;
}
/* line 127, ../scss/style.scss */
#container > nav#sideNav a:hover {
  background: rgba(0, 0, 0, 0.1);
  color: #231d11;
  text-decoration: none;
}
/* line 132, ../scss/style.scss */
#container > nav#sideNav a:active {
  background: rgba(0, 0, 0, 0.2);
}
/* line 138, ../scss/style.scss */
#container > nav#userActions {
  position: absolute;
  top: 52px;
  right: 30px;
}
/* line 142, ../scss/style.scss */
#container > nav#userActions li {
  float: left;
  margin: 5px 0;
}
/* line 145, ../scss/style.scss */
#container > nav#userActions li a {
  display: block;
  color: #ffbcbc;
  text-shadow: -1px -1px 0 #700000;
  padding: 5px;
  font-size: 13px;
  letter-spacing: 1px;
}
/* line 155, ../scss/style.scss */
#container > nav#userActions li:first-child a {
  float: left;
}
/* line 158, ../scss/style.scss */
#container > nav#userActions li:first-child::after {
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  padding: 5px 3px;
  content: "or";
  color: #e66f6f;
}
/* line 168, ../scss/style.scss */
#container > nav#userActions li:nth-child(2) {
  margin: 4px;
  border: 1px solid #a30000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
}
/* line 173, ../scss/style.scss */
#container > nav#userActions li:nth-child(2) a {
  border: 1px solid #700000;
  padding: 4px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bc0000), color-stop(25%, #9d0000), color-stop(100%, #7a0000));
  background: -webkit-linear-gradient(top, #bc0000 0%, #9d0000 25%, #7a0000 100%);
  background: -moz-linear-gradient(top, #bc0000 0%, #9d0000 25%, #7a0000 100%);
  background: -o-linear-gradient(top, #bc0000 0%, #9d0000 25%, #7a0000 100%);
  background: linear-gradient(top, #bc0000 0%, #9d0000 25%, #7a0000 100%);
}
/* line 178, ../scss/style.scss */
#container > nav#userActions li:nth-child(2) a:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bc0000), color-stop(100%, #700000));
  background: -webkit-linear-gradient(top, #bc0000, #700000);
  background: -moz-linear-gradient(top, #bc0000, #700000);
  background: -o-linear-gradient(top, #bc0000, #700000);
  background: linear-gradient(top, #bc0000, #700000);
}
/* line 182, ../scss/style.scss */
#container > nav#userActions li:nth-child(2) a:active {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #700000), color-stop(25%, #7f0000), color-stop(100%, #7f0000));
  background: -webkit-linear-gradient(top, #700000 0%, #7f0000 25%, #7f0000 100%);
  background: -moz-linear-gradient(top, #700000 0%, #7f0000 25%, #7f0000 100%);
  background: -o-linear-gradient(top, #700000 0%, #7f0000 25%, #7f0000 100%);
  background: linear-gradient(top, #700000 0%, #7f0000 25%, #7f0000 100%);
}
/* line 190, ../scss/style.scss */
#container > #main {
  background: white;
  padding: 20px 30px;
  -moz-border-radius: 0 0 0 20px;
  -webkit-border-radius: 0 0 0 20px;
  -o-border-radius: 0 0 0 20px;
  -ms-border-radius: 0 0 0 20px;
  -khtml-border-radius: 0 0 0 20px;
  border-radius: 0 0 0 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  -o-box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 3px;
}
/* line 197, ../scss/style.scss */
#container > footer {
  text-align: right;
  padding: 20px;
  color: #8d8d8d;
  font-size: 12px;
}

/* line 206, ../scss/style.scss */
.page_title {
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Josefin Sans", HelveticaNeue-UltraLight, Helvetica, Arial, sans-serif;
  line-height: 50px;
  margin-top: -20px;
  margin-left: -30px;
  margin-right: -30px;
  margin-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 55px;
  padding-bottom: 0;
  color: #FFF;
  font-weight: normal;
  letter-spacing: 2px;
  background: #560000;
}
