.addrecipepage{
	.helptext_ri, .helptext{
		font-family:Helvetica;
		font-size:12px;
		color:lighten($textcolor, 40%);
	}
	table, td, th{
		vertical-align:top;
	}
	table{
		width:100%;
		input{
			width: 100%;
		}
		margin:-5px;
	}
	td, th{
		padding:5px;
	}
	h4{
		margin-bottom:20px;
		padding-top:17px;
		margin-top:20px;
		border-top:3px solid $primaryaccent;
	}
	.errorlist{
		color:#900;
		font-weight:bold;
	}
}