.front{
	
	#container > header > h1{
		padding:100px 30px 10px 30px;
	}
	#container > nav#userActions{
		top:148px;
	}
	
	.recipeList{
		padding:10px 10px 15px 20px;
		margin:0 0 20px 0;
		border-left:1px solid $primaryaccent;
		& > h1{
			@include small-header;
			margin-bottom:10px;
		}
		time{
			color:#888;
			font-style:italic;
		}
		a:hover{
			text-decoration:none;
		}
	}
	
	
	#highlights{
		@extend .right-33;
	}
	
	#mainCol {
		@extend .left-67;
		
		#about{
			background:#EEE;
			border-bottom:1px solid #DDD;
			padding:10px 10px 9px 10px;
			margin-bottom: 20px;
		}
	}
	
	#plan{
		header{
			@include small-header;
			font-size:20px;
			line-height:30px;
			margin-bottom:10px;
		}
		border-bottom:3px solid $primaryaccent;
		padding-bottom:17px;
		margin-bottom:20px;
		input{
			font-size:20px;
			line-height:40px;
			@include border-radius(5px);
		}
		input[type='text']{
			width:70%;
			float:left;
			border:2px solid #CCC;
			&:focus{
				outline:none;
				border-color:$secondaryaccent;
			}
		}
		input[type='submit']{
			width:25%;
			float:right;
			border:none;
			padding:3px;
			background:$primaryaccent;
			color:#FFF;
			&:hover{
				background:darken($primaryaccent, 5%);
			}
			&:active{
				background:darken($primaryaccent, 10%);
			}
		}
		@include clearfix;
	}
}