.recipeindividualpage{
	$leftcolwidth: 250px;
	$leftcolgutter: 40px;
	$recipepadding: 10px;
	
	.page_title{
		.recipe_title, .recipe_rating{
			display:inline;
		}
	}
	
	#commentswrapper{
		margin-left:$leftcolwidth+$leftcolgutter;
		header{
			@include small-header;
			font-size:18px;
			margin-bottom:10px;
		}
		border-top:3px solid $primaryaccent;
		padding-top:37px;
		margin-top:40px;
	}
	
	.recipe{
		position:relative;
		padding-left:$leftcolwidth+$leftcolgutter;
		padding-top:$recipepadding;
		
		.sidebar{
			position:absolute;
			top:0;
			left:0;
			width:$leftcolwidth;
			text-align:right;
			border-right:1px solid $primaryaccent;
			padding:$recipepadding #{$leftcolgutter/2} $recipepadding 0;
			.ingredients, .tools{
				margin-bottom:20px;
				font-size:13px;
				li{
					margin-bottom:5px;
				}
				header{
					@include small-header;
					margin-bottom: 10px;
				}
			}
			
			section.tags{
				font-family:Helvetica, sans-serif;
				background: #EEE;
				margin:20px -10px;
				padding:10px;
				font-size:12px;
				text-align:left;
				@include light-inset;
				ul, li, header, h1{
					display:inline;
				}
				header{
					font-weight:bold;
				}
				h1::after{
					content:": ";
				}
				li::after{
					content:", ";
				}
				li:last-child::after{
					content:"";
				}
			}
			.byline{
				font-size:12px;
				color:lighten($textcolor, 20%);
				margin-top:20px;
			}
		} /* .sidebar */
		.recipeActions{
			background:#EEE;
			@include border-radius(20px);
			@include light-inset;
			margin-bottom:20px;
			padding:$recipepadding 2*$recipepadding;
			margin-top:-$recipepadding;
			.recipe_rating{
				display:inline-block;
				position:relative;
				top:3px;
			}
			& > a {
				border-left:1px solid #CCC;
				padding-left:9px;
			}
		}
		.details{
			float:right;
			background:#EEE;
			margin-left:2*$recipepadding;
			margin-bottom:$recipepadding;
			color:lighten($textcolor, 30%);
			font-size:13px;
			font-style:italic;
			max-width:50%;
			overflow:auto;
			@include border-radius(3px);
			white-space:nowrap;
			ul{
				padding:$recipepadding;
			}
			&::-webkit-scrollbar {
			    width: 6px;
			    height: 6px;
				&-button:start:decrement,
				&-button:end:increment {
				    display: block;
				    height: 0;
					width:0;
				}

				&-track-piece {
				    background-color: transparent;
				    -webkit-border-radius: 3px;
				}

				&-thumb:vertical {
					height:0;
				    background-color: rgba(0,0,0,.35);
				    -webkit-border-radius: 3px;
				}

				&-thumb:horizontal {
					width:0;
				    background-color: rgba(0,0,0,.35);
				    -webkit-border-radius: 3px;
				}
			}
		
			
			strong{
				color:$textcolor;
			}
		}
		.main{
			header{
				@include small-header;
				font-size:18px;
				margin-bottom:10px;
			}
			p{
				margin-bottom:20px;
			}
		}
	} /* .recipe */
	#id_honeypot{
		height:0;
		width:0;
		border:0;
		padding:0;
		margin:0;
		overflow:hidden;
	}
} /* .recipeindividualpage */