{% extends "base.html" %}

{% block title %} Add Recipe {% endblock %}

{% block extrahead %}
<script type="text/javascript">
$(document).ready(function() {
	$(".recipeingredient_ingredient_field").autocomplete({
		source: "/ajax/ingredient"
	});
	$(".recipeingredient_unit_field").autocomplete({
		source: "/ajax/unit"
	});
});
</script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
	<h2> Add Recipe </h2>
	<form method="post" action="">
		{{ form.as_p }}
		<table>
			{{ formset }}
		</table>
		{% csrf_token %}
		<input type="submit" />
	</form>
{% endblock %}